body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    color: black;
    display: inline-block;
    
}

#header {
    text-align: left;
    padding: 10px;
    margin: 10px;
}
#header {
width: 100%;
}

h1 {
    font-size: 65px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#maincontainer {
    position: fixed;;
    min-width: 70%;
    text-align: left;
    padding: 10px;
    font-size: 50px;
    color: black;
    position: fixed;
}

#logo {
    position: relative;
    float: right;
}

#quizDisplay {
    padding: 10px;
    font-size: 40px;
    text-align: left;
    position: relative;
}

button {
    position: relative;
    font-size: 35px;
    padding: 10px;
    background-color: lightpink;
    border-radius: 12px;
    border-color: black;
    color: black;
    margin: 10px; 
    min-width: 10%;
}
/* .footer {
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  } */

